# Editor settings matching the VHDL coding style (https://editorconfig.org).
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{vhd,vhdl}]
indent_style = space
indent_size = 2
max_line_length = 132

[*.{py,yaml,yml}]
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf
